html {
   /* direction: rtl;*/
    background-image: url("../images/bg_munch.png");
}
a{cursor:pointer}
h2{color:white;display:inline-block;}
h1{color:white;font-size:26px;margin:3px}
h3{color:#2694E8;margin:3px}
/*global class*/
.clear {clear: both; float: none; margin: 0; padding: 0;}
.dashed{clear: both; float: none; margin: 0; padding: 0; border-bottom:1px dashed #708090; height:10px}
.description{font-size:12px;display:inline-block;color:#121212;padding:0px 10px 0px 10px}
.border{border:1px solid #2694E8;display:inline-block;}
.image{padding:10px}
.padding_sides{padding:0px 10px 0px 10px}
/*header*/
#header {
    clear: both;
    height: 130px;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
#header_inner {
   /* background-image: url("../images/bg_background.png");
    border-color: #2694E8 #2694E8 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;*/
    clear: both;
    height: 100px;
    margin: 0 auto;
    position: relative;
    width: 990px;
    z-index: 100;
}
#header_inner_site {
   /* background-image: url("../images/bg_background.png");
    border-color: #2694E8 #2694E8 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;*/
    clear: both;
    height: 100px;
    margin: 0 auto;
    position: relative;
    width: 800px;
    z-index: 100;
}
#navigation {
    height: 40px;
    margin: 0 auto;
    width: 1010px;
}
#navigation_site {
    height: 40px;
    margin: 0 auto;
    width: 840px;
}
#menu {
    -moz-padding-start: 40px;
    display: block;
    list-style-type: disc;
    padding:0;
    margin: 0 auto;
    width: 990px;
}
#menu li {
    font-size: 16px;
    margin-right: 10px;
    margin-top:10px;
    float: left;
    position: relative;
    white-space: nowrap;
    list-style: none outside none;
}
#menu li span {margin-right:5px;}
#menu a {cursor: pointer;}
#user_box {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: -moz-linear-gradient(270deg, #62BBE8, #62BBE8) repeat scroll 0 0 transparent;
    border-color: #62BBE8 #62BBE8 #62BBE8;
    border-style: solid;
    border-width: 1px;
    margin-right:3px;
    margin-top:3px;
    color:white;
}
#user_box ul {
    -moz-padding-start: 40px;
    display: block;
    list-style-type: disc;
    padding:0;
    margin: 5px auto;
    height:21px;
}
#user_box ul li {
    font-size: 14px;
    font-weight:bold;
    float: left;
    position: relative;
    white-space: nowrap;
    list-style: none outside none;

}
#user_box ul li span {margin-right:5px;margin-left:5px}
/*content*/
#content {
    background-image: url("../images/bg_background2.png");
    border-color: #2694E8 #2694E8 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 0 auto;
    padding: 20px;
    position: static;
    width: 970px;
}
#content_site {
    background-image: url("../images/bg_background2.png");
    border-color: #2694E8 #2694E8 -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    margin: 0 auto;
    padding: 20px;
    position: static;
    width: 800px;
   
}
/*footer*/
#footer {
    clear: both;
    height: 130px;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
#inner_footer {
    border-color: #2694E8 #2694E8  -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    clear: both;
    height: 58px;
    margin: 0 auto;
    position: relative;
    width: 1010px;
    border-bottom: 1px solid #2694E8;
}
#inner_footer_site {
    border-color: #2694E8 #2694E8  -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    clear: both;
    height: 58px;
    margin: 0 auto;
    position: relative;
    width: 840px;
    border-bottom: 1px solid #2694E8;
}
/*form*/
.dialog {font-size: 12px}
.dialog input.regular {margin-bottom:12px; width:95%; padding: .4em; }
.dialog label.regular { display:block;}
.dialog input.text.regular { margin-bottom:12px; width:95%; padding: .4em; }
.dialog select.regular { margin-bottom:12px; width:40%; padding: .4em; }
.dialog textarea.regular { margin-bottom:12px; width:95%; padding: .4em; }
button.submit { height: 25px;padding-bottom: 3px}
div.validate {color:#FF7579; margin-bottom: 12px;}
a.form_rest_links {cursor:pointer}
/*dashboard*/
.dashboard{
    width:31%;
    margin-right:2%;
    float:left;
    margin-top:20px;
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.dashboard div.inner_nav{display:inline;float:right;}
.tabel_dashboard {margin: 0 15px 15px 15px;}
.tabel_dashboard table{ border-collapse: collapse; background: white;font-size: 12px;width:100%}
.tabel_dashboard td,.tabel_dashboard table th{border: 1px solid #2694E8;padding: .6em 8px;text-align: left}
.tabel_dashboard td.links{width:20px;}
.dashboard{display: inline-block;float: left}
.dashboard h2{font-size: 18px; margin: 20px;}
ul.icons{
    margin: 18px;
    padding: 0;
}
ul.icons li{
    cursor: pointer;
    float: left;
    list-style: none outside none;
    margin-right: 3px;
    padding: 4px 0;
    position: relative;
    background:#121212;
}
ul.icons li span{
    float: left;
    margin: 0 4px;
}
/*dish order*/
.order_left_div{float:left;width:42%;display:inline}
.order_right_div{float:left;width:55%;display:inline;padding: 0px 10px 10px 10px; }
div.dish_image{border:10px solid white;display:inline-block;}

/*search rest*/
.rest_search{font-size:12px;}
.rest_search input{width:95%}
#kosher_rest_search_radio{font-size:10px}
#payment_rest_search_radio{font-size:10px}
.label_search_rest{width:90px;display:inline-block;}
.rest_search_select{width:90px;}
.tabel_search {margin: 0 15px 15px 15px;}
.tabel_search table{ border-collapse: collapse; background: white;font-size: 12px;width:100%}
.tabel_search td,.tabel_search table th{border: 1px solid #2694E8;padding: .6em 8px;}
.tabel_search td.links{width:20px;}
.header_bg{
    background-image: url("../images/header_bg.png");
    padding:5px;
     -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.descrption_con{
    margin-top:20px;
    background-image: url("../images/order_bg.png");
    padding:5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.inner_order_ingred{display:inline;width:47%;float:left;font-size:14px}
.order_ingred_con{
    margin-top:20px;
    background-image: url("../images/order_bg.png");
    padding:5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.paper_gray{
    margin-top:10px;
    background-image: url("../images/order_bg.png");
    padding:5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.ingredient_radio{font-size:10px;display:inline;}
.list_none{list-style:none}
.add_dish_to_order{font-size:14px}
.chart_table{font-size:12px;width:100%}
.chart_table tr.chart_header {background-image: url("../images/header_bg.png");color:white;height:25px;}
.chart_table tr{height:35px}
